@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">


	<h1> Welcome to my website!</h1>
	<h2><b> click<a href="http://nebrastaleb.azurewebsites.net/cv/index"> here</a> and take a look at my cv.</b></h2>
</div>
