<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">



	<title>Let's have fun :3</title>
</head>
<body>
	<div class="container">
		<div class="head_div">
			<div class="studentInfo_counter">
				<p id="full_name_text">Muhammad Nebras Taleb</p>
				<p id="student_number_text">1306160206</p>
				<p id="counter_text">0</p>
			</div>
		</div>
		<div class="body_div"></div>

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="~/js/javascript.js"></script>
</body>
</html>